.date-chat-divider{
    padding: 20px 0px;
    height: 1px;
    background-color: #0000001f;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#date-divider-button{
    color: black;
    border: 1px solid #0000001f;
    padding: 0px 8px 0px 16px;
    height: 28px;
    background: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 24px;
    z-index: 2;
}