.navbar_quick_access_menu {
  display: flex;
  margin: 0px 10px;
  padding-left: 15px !important;
  width: 90%;
  align-items: center;
  height: 28px;
  font-size: 15px;
  .navbar_quick_access_menu_title {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}
#--active {
  background-color: #0073ce;
}
.add-menu-container {
  font-size: 15px;
  margin-top: 10px;
}
#add_button {
  padding-left: 0px !important;
  justify-content: center;
  background-color: #3b3b3b;
}
#current_user {
  color: #ffffff69;
  margin-left: 10px;
  font-size: 14px;
}
