.topbar {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 20px 5px 0px;
  position: sticky;
  top: 0;
  color: white;
  gap: 20px;
}
.topbar_item {
  flex: 0.8;
}
.topbar_item_center {
  align-self: center;
  flex: 1.2;
}
.topbar_item_left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topbar_item_right {
  display: flex;
  justify-content: flex-end;
}
#avatar_button {
  padding: 0;
}
