#topbar_center_searchbox{
    display: flex;
    height: 23px;
    background: rgba(255,255,255,0.2);
    /* justify-content: center; */
    align-items: center;
    padding: 0px 8px;
    border-radius: 6px;
}
#topbar_center_searchbox:hover{
    background: rgba(255,255,255,0.25);
}
    .topbar_center_searchbox_button{
        display: flex;
        color: white !important;
        font-size: 12px !important;
        align-items: center;
        gap: 6px;
        margin-left: 40%;
        font-weight: 400;
    }
    .topbar_center_searchbox_button:hover {
        background: none !important;
    }
    .topbar_center_searchbox_button_filter:hover{
        background: none !important;
    }
    .topbar_center_searchbox_icon{
        width: 15px;
        height: 15px;
       
    }
    .topbar_center_searchbox_button_filter{
        margin-left: auto;
    }