.navbar_quick_access_menu{
    display: flex;
    margin: 0px 10px;
    padding-left: 15px !important;
    width: 90%;
    align-items: center;
    height: 28px;
    font-size: 15px;
    .navbar_quick_access_menu_title{
        margin-left: 15px;
    }
}