.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login_header {
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  gap: 15px;
  margin-bottom: 40px;
}
.login_header > img {
  height: 50px;
}
.login_form {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: flex-start;
  font-size: 18px;
  color: #000000a8;
  font-weight: 600;
}
.login_input {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  width: 20vw;
  min-width: 200px;
}
.login_input_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
#login_submit {
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  color: white;
  padding: 10px 10px;
  width: 20vw;
  min-width: 200px;
  background-color: #350d36;
  font-size: 16px;
}
#login_submit:hover {
  transform: scale(1.01);
}
#login_submit[disabled='disabled'],
#login_submit:disabled {
  cursor: progress;
  background-color: #350d3682;
}

#toggle-login {
  cursor: pointer;
}
#login-form-footer {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  width: 20vw;
  min-width: 200px;
  gap: 5px;
}
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  background: rgba(199, 15, 92, 0.2);
  padding: 3px 10px;
  border-radius: 4px;
  border: 1px solid #e1245e;
  color: rgb(10, 10, 20);
  font-weight: 300;
  font-size: 6px;
  width: 20vw;
  min-width: 200px;
  font-size: 11px;
}
#input-error {
  display: flex;
  align-items: center;
  color: rgb(10, 10, 20);
  font-size: 12px;
  font-weight: 400;
}
.error-icon {
  width: 14px;
  height: 11px;
  padding: 0px 5px;
}
